################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B-1-Basics-of-Programming/B-1-Basics-of-Programming/bin/Debug
